In [5]:
import pandas
import numpy
import csv
import jupyter

In [31]:
olympic = pandas.read_csv('../data/medals_athletes.csv')
olympic.head()

,medal_type,medal_code,medal_date,athlete_short_name,athlete_name,athlete_sex,athlete_link,country_code,discipline_code,event,country,discipline
0,Gold Medal,1,2021-07-24 00:00:00.0,KIM JD,KIM Je Deok,X,../../../en/results/archery/athlete-profile-n1...,KOR,ARC,Mixed Team,Republic of Korea,Archery
1,Gold Medal,1,2021-07-24 00:00:00.0,AN S,AN San,X,../../../en/results/archery/athlete-profile-n1...,KOR,ARC,Mixed Team,Republic of Korea,Archery
2,Silver Medal,2,2021-07-24 00:00:00.0,SCHLOESSER G,SCHLOESSER Gabriela,X,../../../en/results/archery/athlete-profile-n1...,NED,ARC,Mixed Team,Netherlands,Archery
3,Silver Medal,2,2021-07-24 00:00:00.0,WIJLER S,WIJLER Steve,X,../../../en/results/archery/athlete-profile-n1...,NED,ARC,Mixed Team,Netherlands,Archery
4,Bronze Medal,3,2021-07-24 00:00:00.0,ALVAREZ L,ALVAREZ Luis,X,../../../en/results/archery/athlete-profile-n1...,MEX,ARC,Mixed Team,Mexico,Archery

In [19]:
olympic.drop(columns='discipline_code')

,medal_type,medal_code,medal_date,athlete_short_name,athlete_name,athlete_sex,athlete_link,country_code,event,country,discipline
0,Gold Medal,1,2021-07-24 00:00:00.0,KIM JD,KIM Je Deok,X,../../../en/results/archery/athlete-profile-n1...,KOR,Mixed Team,Republic of Korea,Archery
1,Gold Medal,1,2021-07-24 00:00:00.0,AN S,AN San,X,../../../en/results/archery/athlete-profile-n1...,KOR,Mixed Team,Republic of Korea,Archery
2,Silver Medal,2,2021-07-24 00:00:00.0,SCHLOESSER G,SCHLOESSER Gabriela,X,../../../en/results/archery/athlete-profile-n1...,NED,Mixed Team,Netherlands,Archery
3,Silver Medal,2,2021-07-24 00:00:00.0,WIJLER S,WIJLER Steve,X,../../../en/results/archery/athlete-profile-n1...,NED,Mixed Team,Netherlands,Archery
4,Bronze Medal,3,2021-07-24 00:00:00.0,ALVAREZ L,ALVAREZ Luis,X,../../../en/results/archery/athlete-profile-n1...,MEX,Mixed Team,Mexico,Archery
...,...,...,...,...,...,...,...,...,...,...,...
2396,Bronze Medal,3,2021-08-08 00:00:00.0,NAGY V,NAGY Viktor,M,../../../en/results/water-polo/athlete-profile...,HUN,Men,Hungary,Water Polo
2397,Bronze Medal,3,2021-08-08 00:00:00.0,VAMOS M,VAMOS Marton,M,../../../en/results/water-polo/athlete-profile...,HUN,Men,Hungary,Water Polo
2398,Bronze Medal,3,2021-08-08 00:00:00.0,VARGA D,VARGA Denes,M,../../../en/results/water-polo/athlete-profile...,HUN,Men,Hungary,Water Polo
2399,Bronze Medal,3,2021-08-08 00:00:00.0,VOGEL S,VOGEL Soma,M,../../../en/results/water-polo/athlete-profile...,HUN,Men,Hungary,Water Polo
2400,Bronze Medal,3,2021-08-08 00:00:00.0,ZALANKI G,ZALANKI Gergo,M,../../../en/results/water-polo/athlete-profile...,HUN,Men,Hungary,Water Polo

In [20]:
olympic.rename(columns={'discipline': 'sport'})

,medal_type,medal_code,medal_date,athlete_short_name,athlete_name,athlete_sex,athlete_link,country_code,discipline_code,event,country,sport
0,Gold Medal,1,2021-07-24 00:00:00.0,KIM JD,KIM Je Deok,X,../../../en/results/archery/athlete-profile-n1...,KOR,ARC,Mixed Team,Republic of Korea,Archery
1,Gold Medal,1,2021-07-24 00:00:00.0,AN S,AN San,X,../../../en/results/archery/athlete-profile-n1...,KOR,ARC,Mixed Team,Republic of Korea,Archery
2,Silver Medal,2,2021-07-24 00:00:00.0,SCHLOESSER G,SCHLOESSER Gabriela,X,../../../en/results/archery/athlete-profile-n1...,NED,ARC,Mixed Team,Netherlands,Archery
3,Silver Medal,2,2021-07-24 00:00:00.0,WIJLER S,WIJLER Steve,X,../../../en/results/archery/athlete-profile-n1...,NED,ARC,Mixed Team,Netherlands,Archery
4,Bronze Medal,3,2021-07-24 00:00:00.0,ALVAREZ L,ALVAREZ Luis,X,../../../en/results/archery/athlete-profile-n1...,MEX,ARC,Mixed Team,Mexico,Archery
...,...,...,...,...,...,...,...,...,...,...,...,...
2396,Bronze Medal,3,2021-08-08 00:00:00.0,NAGY V,NAGY Viktor,M,../../../en/results/water-polo/athlete-profile...,HUN,WPO,Men,Hungary,Water Polo
2397,Bronze Medal,3,2021-08-08 00:00:00.0,VAMOS M,VAMOS Marton,M,../../../en/results/water-polo/athlete-profile...,HUN,WPO,Men,Hungary,Water Polo
2398,Bronze Medal,3,2021-08-08 00:00:00.0,VARGA D,VARGA Denes,M,../../../en/results/water-polo/athlete-profile...,HUN,WPO,Men,Hungary,Water Polo
2399,Bronze Medal,3,2021-08-08 00:00:00.0,VOGEL S,VOGEL Soma,M,../../../en/results/water-polo/athlete-profile...,HUN,WPO,Men,Hungary,Water Polo
2400,Bronze Medal,3,2021-08-08 00:00:00.0,ZALANKI G,ZALANKI Gergo,M,../../../en/results/water-polo/athlete-profile...,HUN,WPO,Men,Hungary,Water Polo

In [28]:
olympic["medal_type"]= olympic["medal_type"].str.split(' ').str[0]

In [29]:
olympic.head()

,medal_type,medal_code,medal_date,athlete_short_name,athlete_name,athlete_sex,athlete_link,country_code,discipline_code,event,country,discipline
0,Gold,1,2021-07-24 00:00:00.0,KIM JD,KIM Je Deok,X,../../../en/results/archery/athlete-profile-n1...,KOR,ARC,Mixed Team,Republic of Korea,Archery
1,Gold,1,2021-07-24 00:00:00.0,AN S,AN San,X,../../../en/results/archery/athlete-profile-n1...,KOR,ARC,Mixed Team,Republic of Korea,Archery
2,Silver,2,2021-07-24 00:00:00.0,SCHLOESSER G,SCHLOESSER Gabriela,X,../../../en/results/archery/athlete-profile-n1...,NED,ARC,Mixed Team,Netherlands,Archery
3,Silver,2,2021-07-24 00:00:00.0,WIJLER S,WIJLER Steve,X,../../../en/results/archery/athlete-profile-n1...,NED,ARC,Mixed Team,Netherlands,Archery
4,Bronze,3,2021-07-24 00:00:00.0,ALVAREZ L,ALVAREZ Luis,X,../../../en/results/archery/athlete-profile-n1...,MEX,ARC,Mixed Team,Mexico,Archery